* {
    padding: 0px;
    text-align: center;
  }
  
  .container {
    padding: 16px;
  }
  h2 {
    margin-top: 4px;
    font-family: -apple-ystem, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-align: center;
  }
  .avatar {
    width: 100px;
    height: 100px;
    vertical-align: middle;
  }
  .Registration {
    margin: auto;
    width: 550px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0.2);
  }
  input[type="text"],
  input[type="password"],
  select {
    width: 400px;
    border: none;
    padding: 12px 20px;
    text-align: left;
    margin: 5px 0px;
    display: inline-block;
    border: 1px solid blue;
    border-radius: 5px;
   
  }
  input[type="Submit"] {
    width: 300px;
    padding: 14px 20px;
    background-color: #4caf50;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    color: #000;
    font-weight: bold;
    font-variant: small-caps;
    border-radius: 1em;
  }
  input[type="Submit"]:hover {
    opacity: 0.8;
  }
  
 